<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/bookmarks/<%= @bookmark_id %>" method="post">
      <input type="text" name="Comment" placeholder="Comment">
      <input type="submit" name="Submit" value="Submit">
    </form>
  </body>
</html>
